  body {
    margin: 0;
    padding: 0;
    background-color: #F9FAFB;
  }
  .nav-bar {
    background-color: #2563EB;
    padding: 45px 30px;
    position: relative; 
    top: 0;
    align-items: center;
  }
  .nav-bar ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 10px 20px;
  justify-content: space-between;
  }

  .nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 30px;
  }
  .nav-bar a:hover {
    color: #FFD700;
  }
  .hamburger {
  display: none;
  cursor: pointer;
  }

  .hamburger img {
    width: 22px;
    height: 22px;
    }
    @media (max-width: 768px) {

    nav {
    position: relative;
    }

    .hamburger {
      display: block;
      position: absolute;
      top: 50%;
      right: 30px;
      background: white;
      padding: 10px;
      border-radius: 8px;
      }
      .nav-links {
      display: none;
      position: absolute;
      top: 70px;
      right: 20px;
      background-color: #2563EB;
      flex-direction: column;
      width: 220px;
      padding: 15px;
      border-radius: 10px;
      }  
      .nav-links li {
      margin: 10px 0;
      }
      .nav-links a {
       color: white;
       font-size: 16px;
      }
      nav:hover .nav-links {
      display: flex;
      }
    }
    .footer {
      text-align: center;
      padding: 10px;
      background-color: #696FC7;
      color: white;
      margin-top: 20px;
    }

 