body {
            font-family: Arial;
            background: #f2f2f2;
        }
        .container {
            width: 450px;
            margin: auto;
            background: white;
            padding: 20px;
            border-radius: 10px;
            border-style: 10px;
            margin-top: 50px;
            height:520px;
            display:flex;
            flex-direction: column;
            box-shadow: 0 10px 30px rgba(0,0,0,0.1);
            text-align: center;
            padding:30px;
            
        }
        .container:hover{
            box-shadow: 3px 3px 5px 2px #ac9d9d;
            
        }
        .heading{
            text-align: center;
            color:blue;
        }
        .input{
            width:400px;
            margin-left: 200px;
            margin:8px;
            padding:10px;
            border-radius: 10px;
            outline: none;
            font-size: 14px;
        }
        .input:hover{
            box-shadow: 0px 0px 2px 2px ;
        }

        
        .btn{
            width:300px;
            margin-top: 50px;
            margin-left: 80px;
            background: rgb(87, 87, 244);
            color: white;
            border: none;
            cursor: pointer;
            padding:10px;
            border-radius: 20px;
        }
        .btn:hover{
            box-shadow: 0px 0px 1px 1px rgb(87, 87, 244);
            font-size: 15px;
        }
        .select{
             width:400px;
            margin-left: 200px;
            margin:8px;
            padding:10px;
            border-radius: 10px;
            outline: none;
            font-size: 14px;
            margin:13px;
        }
        .select:hover{
             box-shadow: 0px 0px 2px 2px 
        }



       

    